In [1]:
import os
import numpy as np 
import pandas as pd
os.getcwd()

'C:\\Users\\Shauna McGeever\\Desktop\\Machine Learning- Group Project'

In [3]:
data = pd.read_csv("dublinbikes_2020_secondQ.csv")
data = pd.DataFrame(data)
data.head()

,STATION ID,TIME,LAST UPDATED,NAME,BIKE STANDS,AVAILABLE BIKE STANDS,AVAILABLE BIKES,STATUS,ADDRESS,LATITUDE,LONGITUDE
0,2,2020-04-01 00:00:02,2020-03-31 23:52:19,BLESSINGTON STREET,20,9,11,Open,Blessington Street,53.35677,-6.26814
1,2,2020-04-01 00:05:03,2020-04-01 00:02:27,BLESSINGTON STREET,20,9,11,Open,Blessington Street,53.35677,-6.26814
2,2,2020-04-01 00:10:02,2020-04-01 00:02:27,BLESSINGTON STREET,20,9,11,Open,Blessington Street,53.35677,-6.26814
3,2,2020-04-01 00:15:02,2020-04-01 00:12:36,BLESSINGTON STREET,20,9,11,Open,Blessington Street,53.35677,-6.26814
4,2,2020-04-01 00:20:02,2020-04-01 00:12:36,BLESSINGTON STREET,20,9,11,Open,Blessington Street,53.35677,-6.26814

In [4]:
# Drop extra columns
data = data.drop(columns = ['LAST UPDATED','STATUS', 'ADDRESS', 'LATITUDE', 'LONGITUDE'])
# Select Stations
data = data[data["STATION ID"].isin([69, 75, 98])]
# Create Usage Variable by percentage of bikes NOT at the station
data["Usage"] = data["AVAILABLE BIKE STANDS"] / data['BIKE STANDS'] * 100
# Remove seconds and subset dataframe by whole hours
data['TIME'] = pd.to_datetime(data['TIME'])
data['TIME'] = data['TIME'].dt.strftime('%Y-%m-%d %H:%M')
data['TIME'] = pd.to_datetime(data['TIME'])
time = (data['TIME'].dt.minute == 0)

In [6]:
print(data)

         STATION ID                TIME                    NAME  BIKE STANDS  \
17856            69 2020-04-01 00:00:00        GRAND CANAL DOCK           40
17857            69 2020-04-01 00:05:00        GRAND CANAL DOCK           40
17858            69 2020-04-01 00:10:00        GRAND CANAL DOCK           40
17859            69 2020-04-01 00:15:00        GRAND CANAL DOCK           40
17860            69 2020-04-01 00:20:00        GRAND CANAL DOCK           40
...             ...                 ...                     ...          ...
2905123          98 2020-07-01 23:35:00  FREDERICK STREET SOUTH           40
2905124          98 2020-07-01 23:40:00  FREDERICK STREET SOUTH           40
2905125          98 2020-07-01 23:45:00  FREDERICK STREET SOUTH           40
2905126          98 2020-07-01 23:50:00  FREDERICK STREET SOUTH           40
2905127          98 2020-07-01 23:55:00  FREDERICK STREET SOUTH           40

         AVAILABLE BIKE STANDS  AVAILABLE BIKES  Usage
17856                       29               11   72.5
17857                       29               11   72.5
17858                       29               11   72.5
17859                       29               11   72.5
17860                       29               11   72.5
...                        ...              ...    ...
2905123                     32                8   80.0
2905124                     32                8   80.0
2905125                     32                8   80.0
2905126                     32                8   80.0
2905127                     32                8   80.0

[79380 rows x 7 columns]

In [20]:
data2 = pd.read_csv("dublinbikes_2020_thirdQ.csv")
data2 = pd.DataFrame(data2)
data2.head()

# Drop extra columns
data2 = data2.drop(columns = ['LAST UPDATED','STATUS', 'ADDRESS', 'LATITUDE', 'LONGITUDE'])
# Select Stations
data2 = data2[data2["STATION ID"].isin([69, 75, 98])]

data2
# Create Usage Variable by percentage of bikes NOT at the station
data2["Usage"] = data2["AVAILABLE BIKE STANDS"] / data2['BIKE STANDS'] * 100
# Remove seconds and subset dataframe by whole hours
data2['TIME'] = pd.to_datetime(data2['TIME'])
data2['TIME'] = data2['TIME'].dt.strftime('%Y-%m-%d %H:%M')
data2['TIME'] = pd.to_datetime(data2['TIME'])
time = (data2['TIME'].dt.minute == 0)

print(data2['NAME'].unique())
data2

['GRAND CANAL DOCK' 'JAMES STREET' 'FREDERICK STREET SOUTH']

,STATION ID,TIME,NAME,BIKE STANDS,AVAILABLE BIKE STANDS,AVAILABLE BIKES,Usage
17856,69,2020-07-01 00:00:00,GRAND CANAL DOCK,40,28,12,70.0
17857,69,2020-07-01 00:05:00,GRAND CANAL DOCK,40,28,12,70.0
17858,69,2020-07-01 00:10:00,GRAND CANAL DOCK,40,28,12,70.0
17859,69,2020-07-01 00:15:00,GRAND CANAL DOCK,40,28,12,70.0
17860,69,2020-07-01 00:20:00,GRAND CANAL DOCK,40,28,12,70.0
...,...,...,...,...,...,...,...
2937243,98,2020-10-01 23:35:00,FREDERICK STREET SOUTH,40,39,1,97.5
2937244,98,2020-10-01 23:40:00,FREDERICK STREET SOUTH,40,39,1,97.5
2937245,98,2020-10-01 23:45:00,FREDERICK STREET SOUTH,40,39,1,97.5
2937246,98,2020-10-01 23:50:00,FREDERICK STREET SOUTH,40,39,1,97.5
2937247,98,2020-10-01 23:55:00,FREDERICK STREET SOUTH,40,39,1,97.5

In [21]:
data3 = pd.read_csv("dublinbikes_2020_fourthQ.csv")
data3 = pd.DataFrame(data3)
data3.head()

# Drop extra columns
data3 = data3.drop(columns = ['LAST UPDATED','STATUS', 'ADDRESS', 'LATITUDE', 'LONGITUDE'])
# Select Stations
data3 = data3[data3["STATION ID"].isin([69, 75, 98])]

data3
# Create Usage Variable by percentage of bikes NOT at the station
data3["Usage"] = data3["AVAILABLE BIKE STANDS"] / data3['BIKE STANDS'] * 100
# Remove seconds and subset dataframe by whole hours
data3['TIME'] = pd.to_datetime(data3['TIME'])
data3['TIME'] = data3['TIME'].dt.strftime('%Y-%m-%d %H:%M')
data3['TIME'] = pd.to_datetime(data3['TIME'])
time = (data3['TIME'].dt.minute == 0)

print(data3['NAME'].unique())
data3

['GRAND CANAL DOCK' 'JAMES STREET' 'FREDERICK STREET SOUTH']

,STATION ID,TIME,NAME,BIKE STANDS,AVAILABLE BIKE STANDS,AVAILABLE BIKES,Usage
17856,69,2020-10-01 00:00:00,GRAND CANAL DOCK,40,26,14,65.0
17857,69,2020-10-01 00:05:00,GRAND CANAL DOCK,40,26,14,65.0
17858,69,2020-10-01 00:10:00,GRAND CANAL DOCK,40,26,14,65.0
17859,69,2020-10-01 00:15:00,GRAND CANAL DOCK,40,26,14,65.0
17860,69,2020-10-01 00:20:00,GRAND CANAL DOCK,40,26,14,65.0
...,...,...,...,...,...,...,...
2936000,98,2021-01-01 23:35:00,FREDERICK STREET SOUTH,40,30,10,75.0
2936001,98,2021-01-01 23:40:00,FREDERICK STREET SOUTH,40,30,10,75.0
2936002,98,2021-01-01 23:45:00,FREDERICK STREET SOUTH,40,30,10,75.0
2936003,98,2021-01-01 23:50:00,FREDERICK STREET SOUTH,40,30,10,75.0
2936004,98,2021-01-01 23:55:00,FREDERICK STREET SOUTH,40,30,10,75.0

In [ ]:
df_merged = pd.merge(data, data2, on = "STATION ID")
df_merged = pd.merge(df_merged, data3, on = "STATION ID")

df_merged